<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Output</title>
<style>
@page{
    size: "A4";
    margin:2.5cm 1.5cm 3.5cm 1.5cm;
    @top-center{
        content: "COMPANY NAME";

    }

}

</style>

</head>
<body>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.designcrowd.com%2Fdesign%2F10327400&psig=AOvVaw1Jt0dAf7DNq83V8VaxKpkc&ust=1694460639262000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCIjavffjoIEDFQAAAAAdAAAAABAE" alt="">
    
</body>
</html>