{% extends 'base_auth.html' %}
{% load static %}

{% block  content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
             
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Enter your  email for a reset link</h4>
                </div>

                <form action="{% url 'reset_password' %}" method="post">
                    {%csrf_token%}
                    {% include 'partials/_messages.html' %}
     
                     <div class="from-group mt-2">
                    <input type="email" name="email"  placeholder="Email" id="emailField" class="form-control form-control-sm " value="{{Values.email}}">
                    </div>
                   
                    <input type="submit" value="Submit" class=" btn w-100 btn-primary submit-btn mt-2">
                </form>
        
                <div class="container" >
                    <span>Have an account?</span><a href="{% url 'login' %}" style="text-decoration:none;font-weight:bold">&nbsp;Login</a><br>
                    <span >Don't have an account?</span><a href="{% url 'register' %}"style="text-decoration:none;font-weight:bold" >&nbsp;Register</a><br>
                    
                </div>

            </div

        
</div> 

    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js'%}"></script>

{% endblock  %} 