{% extends 'base_auth.html' %}
{% load static %}
{% block  content %}

<div class="container my-5">

   

        <div class="alert alert-success" role="alert">
             <div>
                <b><p> Password reset email sent</p></b>
                <hr>
                <p>We  have emailed you  instructions for resetting your password.
                if an account exists with the email you entered.
                You should recieve them shorty. 
                </p>
            
                <p>
    
                If you don't recieve an email,please make sure you've entered the address you registered with, and check your spam folder.
                </p> 
            </div>
    
        </div>

</div>


{% endblock%}