{% extends 'base_auth.html' %}
{% load static %}

{% block  content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
             
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Reset your password</h4>
                </div>

                <form action="#" method="post">
                    {%csrf_token%}
                    {{form}}
                    <input type="submit" value="submit" class=" btn w-100 btn-primary submit-btn mt-2">
                </form>
            </div>

        
</div> 

    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js'%}"></script>

{% endblock  %} 